/* Tailwind base */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts";

@import "./component/topNoticeBar";
@import "./component/button";
@import "./component/navbar";
@import "./component/tooltip";
@import "./component/slider";

@import "./component/home/hero";
@import "./component/home/appPoster";
@import "./component/home/tabNav";

:root {
  --container-max-w: 633px;
}

body {
  @apply text-black;
  font-family: "Mark", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

[x-cloak] {
  display: none !important;
}

@layer utilities {
  .only-sm {
    @media (min-width: theme("screens.md")) {
      display: none;
    }
  }
  .only-md {
    display: none;
    @media (min-width: theme("screens.md")) {
      display: block;
    }
    @media (min-width: theme("screens.lg")) {
      display: none;
    }
  }
  .only-lg {
    display: none;
    @media (min-width: theme("screens.lg")) {
      display: block;
    }
    @media (min-width: theme("screens.xl")) {
      display: none;
    }
  }
  .only-after-lg {
    display: none;
    @media (min-width: theme("screens.lg")) {
      display: block;
    }
  }
  .only-after-xl {
    display: none;
    @media (min-width: theme("screens.xl")) {
      display: block;
    }
  }

  .container-max-w {
    max-width: var(--container-max-w);
  }

  .section-title {
    @apply font-mark-bold text-[22px] leading-[28px] md:text-[24px] md:leading-[32px] mb-4;
  }
  .description {
    @apply text-sm leading-5 font-mark  text-gray-500;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
