/* Tailwind base */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts";

@import "./component/button";
@import "./component/navbar";
@import "./component/tooltip";

body {
  font-family: "Mark", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  @apply text-black;
}
[x-cloak] {
  display: none !important;
}
