@import "@styles/baseConfig";

// $navBarExpandAt: "screens.lg";

@import "@styles/baseStyles";
@import "@component/navbar";
@import "@component/tooltip";
@import "@component/footer";
@import "@component/slider";

.pro {
  @apply overflow-x-hidden;
  .page-section-title {
    @apply font-mark-bold md:text-center text-28 md:text-40;
  }
  .table {
    .table-head {
      @apply border-b flex items-end pb-3 md:border-[#d3d4d5] justify-center;
    }
    .table-cell {
      @apply bg-white py-6 text-14 md:text-18 font-mark-bold text-black flex justify-center items-center text-center;
    }
    .red-cell {
      @apply bg-[#fafafa];
    }

    .first-col {
      @apply border-r px-4 md:pl-16 text-left md:border-[#d3d4d5];
    }
    .last-col {
      @apply pr-4 md:pr-16;
    }
    .thumb-icon {
      @apply mx-auto;
      &.up {
        fill: #2db783;
      }
      &.down {
        fill: #676d73;
      }
    }
  }

  .pro-review {
    @apply w-10/12 mx-auto mt-32 md:mt-0 md:w-auto md:mx-0 md:absolute top-1/2 -translate-y-1/2 right-24 p-10 md:p-0 bg-white md:bg-transparent shadow-md md:shadow-none;
    p {
      @apply w-full md:max-w-[260px] text-16 relative px-5 md:px-0;
    }
    .quotation:before {
      content: url("data:image/svg+xml;utf8,<svg  viewBox='0 0 40 35' fill='none' xmlns='http://www.w3.org/2000/svg'><path opacity='0.8' d='M16.9258 0.271484V2.39062C13.0065 6.72005 11.0469 11.2318 11.0469 15.9258C11.0469 16.5182 11.0924 17.0423 11.1836 17.498C16.0599 19.0475 18.498 21.8958 18.498 26.043C18.498 28.3216 17.6549 30.2357 15.9688 31.7852C14.3281 33.3346 12.3229 34.1094 9.95312 34.1094C7.08203 34.1094 4.80339 32.9701 3.11719 30.6914C1.43099 28.3672 0.587891 25.2682 0.587891 21.3945C0.587891 10.8672 6.03385 3.82617 16.9258 0.271484ZM37.6875 0.271484V2.39062C33.7682 6.72005 31.8086 11.2318 31.8086 15.9258C31.8086 16.5182 31.8542 17.0423 31.9453 17.498C36.8216 19.0475 39.2598 21.8958 39.2598 26.043C39.2598 28.3216 38.4167 30.2357 36.7305 31.7852C35.0898 33.3346 33.0846 34.1094 30.7148 34.1094C27.8438 34.1094 25.5651 32.9701 23.8789 30.6914C22.1927 28.3672 21.3496 25.2682 21.3496 21.3945C21.3496 10.8672 26.7956 3.82617 37.6875 0.271484Z' fill='%23009FD9'/></svg>");
      @apply absolute w-[27px] h-[23px] md:w-[40px] md:h-[35px] -left-5 -top-2  md:-top-3 md:-left-12;
    }
  }
  #prosReviewSlider {
    .splide__pagination {
      @apply gap-2 -translate-y-20;
    }
    .splide__pagination__page {
      @apply bg-gray-400 w-3 h-3;
    }
    .splide__pagination__page.is-active {
      @apply bg-gray-600;
    }
  }

  .app-store-btns {
    picture {
      @apply w-full max-h-full block max-w-[633px];
    }
  }
}
