@import "@styles/baseConfig";

$navBarExpandAt: "screens.lg";

@import "@styles/baseStyles";
@import "@component/navbar";
@import "@component/tooltip";
@import "@component/footer";

.membership {
  .w-section {
    @apply max-w-5xl mx-5 lg:mx-auto;
  }
  .page-section {
    @apply border-b py-12 md:py-20;
  }
  .text-40 {
    @apply text-[40px] leading-[44px];
  }
  .text-12 {
    @apply text-[12px] leading-[18px];
  }
  .text-14 {
    @apply text-[14px] leading-[23px];
  }
  .text-24 {
    @apply text-[24px] leading-[32px];
  }
  .text-32 {
    @apply text-[32px] leading-[40px];
  }

  .error {
    $danger: theme("colors.red.500");
    input {
      outline-color: $danger !important;
      border-color: $danger !important;
    }
    input::placeholder {
      color: $danger !important;
    }
  }

  .review-card {
    @apply bg-primary-100 p-6 flex-1;
    .stars {
      @apply flex;
    }
    .description {
      @apply text-base my-4 text-black;
    }
    .author {
      @apply text-base font-mark-bold mt-3;
    }
  }
}
