@layer components {
  $height: 60px;
  .navbar {
    @apply border-b bg-white border-gray-200 flex items-center px-3 z-50 absolute top-0 left-0 right-0;
  }
  .brand {
    @apply hidden md:block;
  }

  .nav-toggle {
    @apply flex items-center gap-1 md:hidden self-stretch;
    height: $height;
    svg {
      @apply transition-transform duration-300 ease-out;
    }
  }

  .nav-links-desktop {
    @apply hidden md:flex ml-auto items-center z-40;

    button {
      @apply mr-4 text-sm;
    }

    a {
      @apply text-sm self-stretch flex items-center px-4 relative 
      hover:after:content-[''] hover:after:w-full hover:after:border-grayish hover:after:border-b-2
      hover:after:absolute hover:after:bottom-0 hover:after:left-0 hover:after:opacity-40
      active:after:opacity-100 active:after:border-primary focus:after:opacity-100 focus:after:border-primary;
      height: $height;
    }
    .active {
      @apply after:content-[''] after:w-full after:border-primary after:border-b-2
      after:absolute after:bottom-0 after:left-0 hover:after:border-primary hover:after:opacity-100;
    }
  }

  .nav-links-mobile {
    @apply flex md:hidden flex-col absolute w-screen left-0 top-0 bg-white z-40;
    margin-top: $height;
    height: calc(100vh - $height);

    a {
      @apply text-xl py-4 px-3 bg-white z-10;
      font-family: "Mark bold", Avenir, Helvetica, Arial, sans-serif;
    }
  }

  #exploreMenuDesktop {
    @apply hidden md:flex absolute top-0 w-screen left-0 justify-center z-40 py-10 shadow-lg bg-white;
    margin-top: $height;
  }

  .submenu {
    @apply flex flex-col sm:flex-row flex-wrap px-6 gap-5 sm:gap-10 bg-white;
    .col {
      // @apply bg-red-200;
    }
    .title {
      @apply text-sm font-bold mb-2;
    }
    ul {
      @apply flex flex-wrap gap-2 md:h-52;
      writing-mode: vertical-lr;
    }
    li {
      writing-mode: horizontal-tb;
      @apply mr-16;
    }
    a {
      @apply p-0 text-sm cursor-pointer;
      font-family: "Mark", Avenir, Helvetica, Arial, sans-serif;
    }
    .seeAllLink {
      @apply text-xs font-bold flex items-center gap-1 mt-0;
      svg {
        @apply fill-grayish;
      }
    }
  }
}
