@layer components {
  .splide-card {
    @apply flex flex-col items-stretch h-full w-full;

    picture {
      @apply block w-full h-full border;
      img {
        @apply block w-full h-full rounded;
      }
    }
  }

  .splide-card-title {
    @apply font-mark-bold line-clamp-2 text-left mt-1 w-full;
  }

  .splide-card-bottom {
    @apply absolute top-full left-0 w-full;
  }
}

.splide__track {
  @apply overflow-y-auto pb-14;
}

.splide-next-btn {
  background-color: white !important;
  opacity: 1 !important;
  right: -1em !important;
  // top: calc(50% - 0rem) !important;
  //transform: translateY(25%) !important;
  @apply shadow-md;
}

.splide-next-btn[disabled] {
  display: none !important;
}

.splide-prev-btn {
  background-color: white !important;
  opacity: 1 !important;
  left: -1em !important;
  @apply shadow-md;
}

.splide-prev-btn[disabled] {
  display: none !important;
}
