/* Tailwind base */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts";

// @import "@styles/baseConfig";

:root {
  --container-max-w: 633px;
}

body {
  @apply text-black;
  font-family: "Mark", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-size-adjust: 100%;
  margin-top: $navHeight;
  -webkit-text-size-adjust: 100%;
}

[x-cloak] {
  display: none !important;
}

@layer utilities {
  .btn-primary {
    @apply bg-primary text-white w-max text-base px-7 py-[0.6rem] rounded-[4px] whitespace-nowrap align-middle font-bold select-none cursor-pointer;
  }

  .only-sm {
    @media (min-width: theme("screens.md")) {
      display: none;
    }
  }
  .only-md {
    display: none;
    @media (min-width: theme("screens.md")) {
      display: block;
    }
    @media (min-width: theme("screens.lg")) {
      display: none;
    }
  }
  .only-lg {
    display: none;
    @media (min-width: theme("screens.lg")) {
      display: block;
    }
    @media (min-width: theme("screens.xl")) {
      display: none;
    }
  }
  .only-after-lg {
    display: none;
    @media (min-width: theme("screens.lg")) {
      display: block;
    }
  }
  .only-after-xl {
    display: none;
    @media (min-width: theme("screens.xl")) {
      display: block;
    }
  }

  .text-40 {
    @apply text-[40px] leading-[44px];
  }
  .text-12 {
    @apply text-[12px] leading-[18px];
  }
  .text-14 {
    @apply text-[14px] leading-[23px];
  }
  .text-16 {
    @apply text-[16px] leading-[24px];
  }
  .text-18 {
    @apply text-[18px] leading-[24px];
  }
  .text-24 {
    @apply text-[24px] leading-[32px];
  }
  .text-28 {
    @apply text-[28px] leading-[32px];
  }
  .text-32 {
    @apply text-[32px] leading-[40px];
  }

  .container-max-w {
    max-width: var(--container-max-w);
  }
  .page-section {
    @apply border-b last:border-b-0 py-12 md:py-24;
  }
  .section-title {
    @apply font-mark-bold text-[22px] leading-[28px] md:text-[24px] md:leading-[32px] mb-4;
  }
  .description {
    @apply text-sm leading-5 font-mark  text-gray-500;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .pill-link {
    @apply h-[30px] px-[15px] rounded-2xl bg-[#e8f1fd] text-gray-800 text-xs font-mark-bold overflow-hidden flex items-center cursor-pointer;
  }

  .search-btn {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --menu-drawer-height: 941px;
    text-transform: none;
    -webkit-appearance: button;
    box-sizing: border-box;
    // display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    cursor: pointer;
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    user-select: none;
    border-radius: 4px;
    overflow: visible;
    background-color: theme("colors.primary");
    border: 2px solid transparent;
    color: #fff;
    min-height: 0;
    padding: 12px 20px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    position: relative !important;
  }
}
