@font-face {
  font-family: "Mark";
  font-display: swap;
  src: url("/fonts/mark-tt-subset.woff2") format("woff2");
}

@font-face {
  font-family: "Mark bold";
  font-display: swap;
  src: url("/fonts/mark-tt-subset-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Mark heavy";
  font-display: swap;
  src: url("/fonts/mark-tt-subset-heavy.woff2") format("woff2");
}
